img.main {
	border-style: none;
	align-self: center;
	height: auto !important;
	max-height: auto;
	max-width: 40%;
	min-width: 45%;
	display: block;
	flex-grow: 1;
}

div.main {
	width: 100%;
	padding: 1rem 1.25rem 1rem;
	flex-direction: row;
	text-align: left;
	justify-content: center;
	align-items: baseline !important;
}

.auth-inner {
	width: 35%;
	margin-bottom: auto;
	margin-left: 5rem;
	margin-right: 2rem;
	margin-top: 8rem;
	flex-grow: 1;
}
