.form-control {
	margin-right: 1rem;
}

div.d-flex {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

div.form-floating {
	margin-bottom: 1rem;
}

#floatingPassword {
	flex: '0 0 calc(100% - 2.5rem)';
}

img {
	flex: '0 0 1.5rem';
	max-width: 100%;
}
