@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

body {
	background: #1c8ef9 !important;
	min-height: 100vh;
	display: flex;
	font-weight: 200;
	font-family: 'Fira Sans', sans-serif;
}

label,
span {
	font-weight: 200;
	font-family: 'Fira Sans', sans-serif;
}

h3 {
	font-weight: 100;
}

body,
html,
.App,
#root,
.auth-wrapper {
	width: 100%;
	height: 100%;
	padding: 0px;
}

.navbar-light {
	background-color: #ffffff;
	width: 100%;
	height: 8em;
	padding: 0px;
	box-sizing: border-box;
	box-shadow: rgb(0 0 0 / 11%) 0 1px;
}

.auth-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.auth-inner {
	width: 25%;
	margin: auto;
	background: #ffffff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 40px 55px 45px 55px;
	border-radius: 15px;
}

.auth-wrapper {
	border-color: #167bff;
	box-shadow: none;
}

.auth-wrapper h3 {
	text-align: center;
	margin: 0;
	line-height: 1;
	padding-bottom: 20px;
}

.forgot-password,
.forgot-password a {
	text-align: right;
	font-size: 90%;
	padding-top: 0.7rem;
	color: #7f7d7d;
	margin: 0;
}

.forgot-password a {
	color: #167bff;
}

img {
	height: 40px;
}
